body{
    background-image: url(../img/1a0c0c680c6b53184d5fa0da41e15d14.png);
    background-size: 100%;
}

h1{
    color: #cd7f32;
    margin: 1rem;
    font-size: 4rem;
}

#price{
   font-size: 1.5rem;
   margin: 1rem ;
}